<form>
    <div ng-if="datahandler.hasOwnProperty('name')" class="form-group row">
        <label class="col-xs-3" id="name">Name</label>
        <div class="col-xs-8" ng-switch on="datahandler">
            <input ng-if="datahandlers.indexOf(datahandler)==0"  type="text" class="form-control"  placeholder="name" ng-model="datahandler.name" >
            <input ng-if="datahandlers.indexOf(datahandler)>0"  type="text" class="form-control" placeholder="name" ng-model="datahandler.name">
        </div>
    </div>
    <div ng-if="datahandler.hasOwnProperty('description')"  class="form-group row">
        <label for="sinkhandlerdescription{{$index}}" class="col-xs-3" id="description">Description</label>
        <div class="col-xs-8">
            <input type="text" class="form-control" id="sinkhandlerdescription{{$index}}" placeholder="Description" ng-model="datahandler.description" ng-change="shownext()">
        </div>
    </div>
    <div ng-if="datahandler.hasOwnProperty('handler-class')" class="form-group row">
        <label for="sinkhandlerhandlerclass{{$index}}" class="col-xs-3" id="handler-class">Handler class</label>
        <div class="col-xs-8">
            <input type="text" class="form-control" id="sinkhandlerhandlerclass{{$index}}" placeholder="Handler Class" ng-model="datahandler['handler-class']" ng-change="shownext()" disabled>
        </div>
    </div>
    <div ng-if="datahandler.properties.hasOwnProperty('batchSize')" class="form-group row">
        <label for="sinkhandlerbatchsize{{$index}}" class="col-xs-3" id="batchSize">Batch size</label>
        <div class="col-xs-8">
            <input type="text" class="form-control" id="sinkhandlerbatchsize{{$index}}" placeholder="Batch Size" ng-model="datahandler.properties.batchSize" ng-change="shownext()">
        </div>
    </div>
    <div ng-if="datahandler.properties.hasOwnProperty('hostNames')" class="form-group row">
        <label for="sinkhandlerhostnames{{$index}}" class="col-xs-3" id="hostNames">Host Names</label>
        <div class="col-xs-8">
            <input type="text" class="form-control" id="sinkhandlerhostnames{{$index}}" placeholder="Host Names" ng-model="datahandler.properties.hostNames" ng-change="shownext()">
        </div>
    </div>
    <div ng-if="datahandler.properties.hasOwnProperty('port')" class="form-group row">
        <label for="sinkhandlerport{{$index}}" class="col-xs-3" id="port">Port</label>
        <div class="col-xs-8">
            <input type="text" class="form-control" id="sinkhandlerport{{$index}}" placeholder="port" ng-model="datahandler.properties.port" ng-change="shownext()">
        </div>
    </div>
    <div ng-if="datahandler.properties.hasOwnProperty('hdfsFileNamePrefix')" class="form-group row">
        <label for="sinkhandlerhdfsfilenameprefix{{$index}}" class="col-xs-3" id="hdfsFileNamePrefix">Hdfs File Name Prefix</label>
        <div class="col-xs-8">
            <input type="text" class="form-control" id="sinkhandlerhdfsfilenameprefix{{$index}}" placeholder="Hdfs File Name Prefix" ng-model="datahandler.properties.hdfsFileNamePrefix" ng-change="shownext()">
        </div>
    </div>
    <div ng-if="datahandler.properties.hasOwnProperty('hdfsFileNameExtension')" class="form-group row">
        <label for="sinkhandlerhdfsfilenameextension{{$index}}" class="col-xs-3" id="hdfsFileNameExtension">Hdfs File Name Extension</label>
        <div class="col-xs-8">
            <input type="text" class="form-control" id="sinkhandlerhdfsfilenameextension{{$index}}" placeholder="Hdfs File Name Extension" ng-model="datahandler.properties.hdfsFileNameExtension" ng-change="shownext()">
        </div>
    </div>
    <div ng-if="datahandler.properties.hasOwnProperty('hdfsPath')" class="form-group row">
        <label for="sinkhandlerhdfspath{{$index}}" class="col-xs-3 ">Hdfs Path</label>
        <div class="col-xs-8">
            <input type="text" class="form-control" id="sinkhandlerhdfspath{{$index}}" placeholder="Hdfs Path" ng-model="datahandler.properties.hdfsPath" ng-change="shownext()">
        </div>
    </div>
    <div ng-if="datahandler.properties.hasOwnProperty('hdfsUser')" class="form-group row">
        <label for="sinkhandlerhdfsuser{{$index}}" class="col-xs-3" id="hdfsUser">Hdfs User</label>
        <div class="col-xs-8">
            <input type="text" class="form-control" id="sinkhandlerhdfsuser{{$index}}" placeholder="Hdfs User" ng-model="datahandler.properties.hdfsUser" ng-change="shownext()">
        </div>
    </div>
    <div ng-if="datahandler.properties.hasOwnProperty('hdfsOverwrite')" class="form-group row">
        <label for="sinkhandlerhdfsoverwrite{{$index}}" class="col-xs-3" id="hdfsOverwrite">Hdfs Overwrite</label>
        <div class="col-xs-8">
            <input type="text" class="form-control" id="sinkhandlerhdfsoverwrite{{$index}}" placeholder="Hdfs Overwrite" ng-model="datahandler.properties.hdfsOverwrite" ng-change="shownext()">
        </div>
    </div>
    <div ng-if="datahandler.properties.hasOwnProperty('hdfsPermissions')" class="form-group row">
        <label for="sinkhandlerhdfspermissions{{$index}}" class="col-xs-3" id="hdfsPermissions">Hdfs Permissions</label>
        <div class="col-xs-8">
            <input type="text" class="form-control" id="sinkhandlerhdfspermissions{{$index}}" placeholder="Hdfs Permissions" ng-model="datahandler.properties.hdfsPermissions" ng-change="shownext()">
        </div>
    </div>
    <div class="form-group pull-right">
        <button type="button" class="btn btn-default reset" ng-click="reset($index)">reset</button>
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" ng-click="cancel($index)">cancel</button>
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" >ok</button>
    </div>
</form>
