<div class="container">
	<form class="boxbottomborder">
		<div>
			<div class="form-group row" style="height:inherit;">
				<textarea class="textarea form-control" style="border:transparent;"
				placeholder="Application Json" ng-model="resultedjson">			
			</textarea>		
			</div>
			<div>
				<div class="col-xs-12 text-right bottom-align-next" >
					<a href="" id="download" class="btn btn-success text-right bottom-align-next" type="button"
					download="AdaptoJson.txt">Download</a>
				</div>
			</div>
		</div>
	</form>
</div>	
