<form>
  <div class="form-group row">
    <label class="col-xs-3" id="name">Name</label>
    <div class="col-xs-8" ng-switch on="datahandler">
      <input ng-if="datahandlers.indexOf(datahandler)==0"  type="text" class="form-control"  placeholder="name" ng-model="datahandler.name" >
      <input ng-if="datahandlers.indexOf(datahandler)>0"  type="text" class="form-control" placeholder="name" ng-model="datahandler.name">
    </div>
  </div>
  <div ng-if="datahandler.hasOwnProperty('description')" class="form-group row">
    <label for="sourcehandlerdescription{{$index}}" id='description' class="col-xs-3">Description</label>
    <div class="col-xs-8">
      <input type="text" class="form-control" id="sourcehandlerdescription{{$index}}" placeholder="description" ng-model="datahandler.description" ng-change="shownext()">
    </div>
  </div>
  <div ng-if="datahandler.hasOwnProperty('handler-class')" class="form-group row">
    <label for="sourcehandlerhandlerclass{{$index}}" class="col-xs-3 " id='handler-class'>Handler class</label>
    <div class="col-xs-8">
      <input type="text" class="form-control" id="sourcehandlerhandlerclass{{$index}}" placeholder="handler class" ng-model="datahandler['handler-class']" ng-change="shownext()" disabled>
    </div>
  </div>
   <div ng-if="datahandler.properties.hasOwnProperty('buffer-size')" class="form-group row">
    <label for="buffersize" class="col-xs-3 " id="buffer-size">Buffer Size</label>
    <div class="col-xs-8">
      <input type="text" class="form-control" id="buffersize" placeholder="Buffer Size" ng-model="datahandler.properties['buffer-size']" ng-change="shownext()">
    </div>
  </div>
    <div ng-if="datahandler.properties.hasOwnProperty('base-path')" class="form-group row">
    <label for="buffersize" class="col-xs-3 " id="base-path">Base Path</label>
    <div class="col-xs-8">
      <input type="text" class="form-control" id="basepath" placeholder="Base Path" ng-model="datahandler.properties['base-path']" ng-change="shownext()">
    </div>
  </div>
    <div ng-if="datahandler.properties.hasOwnProperty('preserve-base-path')" class="form-group row">
    <label for="preservebasepath{{$index}}" class="col-xs-3" id="preserve-base-path">Preserve Base Path</label>
    <div class="col-xs-8">
      <input type="text" class="form-control" id="preservebasepath{{$index}}" placeholder="Base Path" ng-model="datahandler.properties['preserve-base-path']" ng-change="shownext()">
    </div>
  </div>
  <div ng-if="datahandler.properties.hasOwnProperty('preserve-relative-path')" class="form-group row">
    <label for="preserverelativepath{{$index}}" class="col-xs-3" id="preserve-relative-path">Preserve Relative Path</label>
    <div class="col-xs-8">
      <input type="text" class="form-control" id="preserverelativepath{{$index}}" placeholder="Relative Path" ng-model="datahandler.properties['preserve-relative-path']" ng-change="shownext()">
    </div>
  </div>
  <div class="form-group row pull-right">
    <button type="button" class="btn btn-default reset" ng-click="reset($index)">reset</button>
    <button type="button" class="btn btn-danger dropdown-toggle cancel" ng-click="cancel($index)">cancel</button>
    <button type="button" class="btn btn-success dropdown-toggle" >ok</button>
  </div>
</form>
