<header  class="row">
    <span><h>BigDime Management Console</h></span>
<!-- 	<div class="row rowone" ng-include="'views/home/applicationheader.html'"></div> -->
	<span>
	   <p class="text-right">
		Welcome {{displayName}}, you are logged in</br> <a ui-sref="indexpage"
			href=""  ng-click="logout()">Logout</a>
	  </p>
	</span>
</header>
<div class="row row2">
   <div class="col-xs-2 dropdown">
    <button class="btn btn-default dropdown-toggle bt-dropdown" type="button" id="dsmenu" data-toggle="dropdown" >DataSources
    <span class="caret"></span></button>
     <ul class="dropdown-menu ul-dropdown" role="menu" aria-labelledby="dsmenu">
       <li><a class="applicationnames" ui-sref=".search" href=""
		          ng-repeat="application in applicationlist track by $index"
		          ng-click="updateRoot(application.label)" id={{application.label}}> {{application.label}} <br>
	          </a>
	     </li>
    </ul>
  </div>
	<div class="col-xs-8 datasource">
		<ol class="text-right">
			<li><a ui-sref=".jsonhome" href="">Adaptor</a></li>
			<li ng-if="$parent.breadcrumbs.source=='true'"><a
				ui-sref=".sourcehandlers" href="" >Source</a></li>
			<li ng-if="$parent.breadcrumbs.sink=='true'"><a
				ui-sref=".sinkhandlers" href="">Sink</a></li>
			<li ng-if="$parent.breadcrumbs.channel=='true'"><a
				ui-sref=".channelselector" href="">Channel</a></li>
			<li ng-if="$parent.breadcrumbs.mapper=='true'"><a
				ui-sref=".sourcechannelsinkmapper" href="" >Mapping</a></li>
			<li ng-if="$parent.breadcrumbs.result=='true'"><a
				ui-sref=".viewjson" href="" >Result</a></li>
		</ol>
	</div>
	<div class="col-xs-2 dropdown">
		<select ui-sref=".search"
			class="form-control env-dropdown" ng-model="environment.selected"
			ng-options="option as option for option in environmentoptions"
			ng-change="getjqxTree()" ng-init="init()">
		</select>
	</div>
</div>
<!-- <div id="thirdBox" class="row row4"> -->
		<div id="thirdBox" class="row row4" ui-view ></div>
<!-- </div>	 -->
<!-- <div class="row foot">Powered by BigDime@copyrights-2015</div> -->
<footer>
	  <div>Powered by BigDime@copyrights-2015</div>
</footer>
 
