<div class="container">
	<form class="boxbottomborder">
		<div>
			<div class="form-group row">
				<label class="col-xs-4">Map source to channel</label>
			</div>
			<div class="form-group row"
				ng-repeat="source in sourcelist track by $index"
				id="sourcechannel{{$index}}">
				<label class="col-xs-3">{{source}}</label>
				<div class="col-xs-3">
					<select class="form-control" id="sourcechannelmap{{$index}}"
						ng-model="channelselected"
						ng-options="channel as channel for channel in channellist"
						ng-change="uponSourceChannelSelection(source,channelselected)">
						  
						<option value="" disabled selected style="display: none;">Choose
							channel</option>
					</select>
				</div>
			</div>
				<div class="form-group row text-right bottom-align-next" style="clear: both;" ng-if="isFilled">
	                <div class="col-xs-12" style="clear: both;">
					   <a ui-sref="homepage.viewjson" href=""
						class="btn btn-success" type="button" ng-click="updateAdaptor()">Next</a>
	                </div>
	           </div>
		</div>
	</form>
</div>

